@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

div .nav-link {
    font-family: 'Mitr', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 300;
    width: 194px;
    height: 116px;
    display: flex;
    justify-content: center; /* Center the text horizontally */
    align-items: center; /* Center the text vertically */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
}       

div .nav-link:hover {
    background-color: #123733;
    color: rgb(255, 255, 255);
}       

.navbar{
    height: 116px;

}