@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

.dropdown-item2{
    color: black;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 100px;
    height: 35px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 10px;
}
div .nav-link.admin {
    font-family: 'Mitr', sans-serif;
    color: white;
    font-size: 30px;
    font-weight: 300;
    width: 194px;
    height: 116px;
    display: flex;
    justify-content: center; /* Center the text horizontally */
    align-items: center; /* Center the text vertically */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
}       
div .nav-link.course{
    width: 264px;
}

div .nav-link.registration{
    width: 343px;

}
div .nav-link:hover {
    background-color: #123733;
    color: rgb(255, 255, 255);
}       

.navbar{
    height: 116px;

}
@media only screen and (max-width: 1200px) {
    div .nav-link {
        font-family: 'Mitr', sans-serif;
        color: white;
        font-size: 18px;
        font-weight: 200;
        width: 194px;
        height: 116px;
        display: flex;
        justify-content: center; /* Center the text horizontally */
        align-items: center; /* Center the text vertically */
        transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
    }       

  }
.container-fluid .nav{
    background-color: rgb(36, 89, 83);
    z-index: 3;
}
.container-fluid .navbar-toggler{
    z-index: 3;
}
.navbar-brand{
    color: white;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */

}
.navbar-brand:hover{
    color: rgb(0, 128, 255);
}
img.imgprofiledefault:hover{
    filter: brightness(90%);
}
