div.container.schedule{
    margin-top: 20px;
    margin-bottom: 20px;
}

input.boxcheck {
    width: 26px;
    height: 26px;
    margin-right:8px;
    accent-color: #74992e;
    cursor: pointer;
    
} 
div.catagory {
    display: flex;
    width: 150%;
    height: 150%;
    align-items: center;
    justify-content: center;
    background-color: #820000;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-weight: 300;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25); /* Adjust the values based on your preference */
    
}
div.yearstudents {
    display: flex;
    width: 150%;
    height: 150%;
    align-items: center;
    justify-content: center;
    background-color: #008AA9;
    color: white;
    text-align: center;
    border-radius: 10px;
    font-weight: 300;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.25); /* Adjust the values based on your preference */
    margin-left: 10px;
}

.container-fluid.border {
    margin-left: 10px;
    width: auto;
    height: auto;
    border:1px ;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.251);


}
div.col input.boxcheck{
    
    accent-color: #74992e;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-top: 5px;

}

.rank {
    font-size: 24px;
}
.subject_main {
    font-size: 18px;
    color: #8D8D8D;
    
}

.subject_sai {
    font-size: 18px;
    color: #8D8D8D;
}

.liner {
    border:1px solid #D6D6D6;
    width:auto;
    height: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
}
div.col.table{
    font-weight: 500;
    border-radius: 15px;
}
.row.all.com{
    width: 100%;

}
tbody th.day{
    color: #B2B2B2;
    font-weight: 300;
    font-size: 24px;
}

thead th.time{
    color: #B2B2B2;
    font-weight: 400;
    
}
table.table.table-bordered.outschedule {

    width:100%;


}
table.table.table-bordered.schedule {
    height: 580px;
    border-radius: 15px;
    border: 1px solid #C4C4C4;
    overflow: hidden;
    background-color: #C4C4C4;
    vertical-align: middle;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.251);
}

tr.rowday .day {
    border: 1px solid #C4C4C4;
    padding: 20px;

  }
  tr.rowday td{
    border-bottom: 1px solid #C4C4C4;
    border-top: 1px solid #C4C4C4;
    border-left: 0px solid #C4C4C4;
    border-right: 0px solid #C4C4C4;
    padding: 0px;
  }

tr.rowday:hover .day,tr.rowday:hover td {
  background-color: #E9E7E7;
  transition: background-color 0.5s, color 0.5s; /* Smooth transition effect */
  border-bottom: 1px solid #C4C4C4;
  border-top: 1px solid #C4C4C4;
  border-left: 0px solid #C4C4C4;
  color: #535353;

}
div.overlapping{
    width: 100%;
    height: 100%;
    background-color: #FFC34D;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px; 
    font-weight: 400;
    color: #820000;
    transition: background-color 0.5s, color 0.5s; /* Smooth transition effect */

}
div.overlapping:hover{
    background-color: #FFA800;
}
div.lecturecorrect{
    width: 100%;
    height: 100%;
    background-color: #C9FE94;
    font-size: 24px; 
    font-weight: 400;
    color: #418200;
    transition: background-color 0.5s, color 0.5s; /* Smooth transition effect */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}
div.lecturecorrect:hover{
    background-color: #A0F948;
}
div.lecturecorrect .subject{
    font-size:80%;
    font-weight: 400;
}
div.lecturecorrect .name{
    font-size: 75%;
    font-weight: 300;


}
div.lecturecorrect .time{
    font-size: 75%;
    font-weight: 300;

}
.btn.editlecturecorrect{
    color: #418200;
    width: 100%;
    height: 100%;
}

.btn.editlecturecorrect:hover{
    color: #418200;
    transition: color 0.5s; /* Smooth transition effect */

}
.btn.editoverlapping{
    color: #820000;
    width: 100%;
    height: 100%;
}

thead.theadtable .time{
    width: 0px;
}
.row.inoverlapping{
    padding: 1%;
}

.btn.btn-danger.bitrash  {
    display: contents;
    padding: 0px;
}
.btn.btn-outline-secondary{
    transition: background-color 0.3s, color 0.2s; /* Smooth transition effect */
    border-right: 0px #FF4B4B solid ;
    text-align: start;
}
.bi-trash {
    display:flex;
    color: #FF4B4B;
    font-size: 30px;
    background-color: #ffffff;
    border-bottom: 1px #FF4B4B solid ;
    border-top: 1px #FF4B4B solid ;
    border-right: 1px #FF4B4B solid ;
    border-left: 1px #FF4B4B solid ;

    border-top-right-radius:7px ;
    border-bottom-right-radius:7px ;
    align-items: center;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */

}
.bi-trash:hover {
    color: rgb(255, 255, 255);
    background-color: #FF4B4B;
}

.bi-trash.table {
    color: #FF4B4B;
    font-size: 30px;
    background-color: #ffffff;
    border-bottom: 1px #ffffff solid ;
    border-top: 1px #ffffff solid ;
    border-right: 1px #ffffff solid ;
    border-left: 1px #ffffff solid ;
    width: 18%;
    border-radius:7px ;
    align-items: center;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */

}
.bi-trash.table:hover {
    color: #c60e0e;
}

