div .form-label{
    width: 500px;
}

.col.center{

    margin-top: 30px;
    margin-bottom: 50px;

}
.container.addcourse{
    margin-top: 20px;
}
.form-select.form-select-sm.mb-3{
    background-color: rgb(255, 255, 255);
}
button.btn.addcourse.submit{
    width: 100%;
    margin-bottom: 25px;
    border: 3px solid #96BB7C;
    background-color: rgb(255, 255, 255);
    color: #96BB7C;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */


}
button.btn.addcourse.submit:hover{
    border: 3px solid #96BB7C;
    background-color: #96BB7C;
    color: #ffffff;


}
button.btn.addcourse.cancel{
    width: 500px;
    margin-bottom: 25px;
    border: 3px solid #FF4B4B;
    background-color: rgb(255, 255, 255);
    color: #FF4B4B;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */

}
button.btn.addcourse.cancel:hover{
    border: 3px solid #FF4B4B;
    background-color: #FF4B4B;
    color: #ffffff;


}
div.bg{
    margin-top: 50px;
    margin-bottom: 50px;
    border: 3px solid #000000;
    border-radius: 15px;
    width: auto;
    background-color: #ffffff;
    
}


div.form-check{
    margin-top: 5px;

}
div label.StudentYear{
    margin-top: 25px;

}   
.lecture-container .content  {
    display: none;
  }
  
  .lecture-container.expanded .content {
    display: block;
  }
button.resetaddcourse{

    width: 150px;
    margin-top: 30px;
    border: 3px solid #FF4B4B;
    background-color: #FF4B4B;
    color: #ffffff;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */
}
button.resetaddcourse:hover{
    border: 3px solid #ee2323;
    background-color: #ee2323;
    color: #ffffff;
}

div .form-check-input.addcourse{
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;

}
span.form-required{
    color: #FF4B4B;
    margin-left: 3px;
}
#InputStudents{
    margin-left: 8px;
    height: 30.6px;
}
#sec{
    margin-left: 8px;
    height: 30.6px;
}
#subject{
    margin-left: 8px;
    height: 30.6px;
}

.modal-content.show{
    width: flex;
}
.lecture-info, .practice-info{
    width: 600px;
}

.modal-body.selectLP{
    display : flex;
    margin-right: 60px;
}
