
input.boxcheck {
    width: 26px;
    height: 26px;
    margin-right:8px;
    accent-color: #74992e;
} 


.container-fluid.border {
    margin-left: 10px;
    width: 267px;
    height: 610px;
    border:1px ;
    border-radius: 5px;
}
div.col input.boxcheck{
    
    accent-color: #74992e;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-top: 5px;

}

.rank {
    font-size: 24px;
}
.subject_main {
    font-size: 20px;
    color: #8D8D8D;
    
}

.subject_sai {
    font-size: 20px;
    color: #8D8D8D;
}

.liner {
    border:1px solid #D6D6D6;
    width:240px;
    height: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
}
