.container-login {
  display: flex;
  height: 100%;
}

.img-kaset {
  max-width: 1100px;
}

.logo {
  width: 100%;
}

.container-input {
  display: flex;
  flex-direction: column;
  width: 820px;
}
.empty {
  height: 200px;
}

.input-all {
  height: 650px;
}

.input-User {
  width: 589px;
  height: 86px;
  border-radius: 10px;
  background-color: #D8D8D8;
  border: 0px;
  display: block;
  margin: auto;
  font-size: 24px;
  padding-left: 25px;
}

.first-font {
  font-size: 36px;
  text-align: center;
}

.sec-font{
  margin-left: 120px;
}

.three-font{
  margin-left: 120px;
  margin-top: 25px;
}



.button-login{
  width: 362px;
  height: 74px;
  font-size: 28px;
  border: 0px;
  border-radius: 10px;
  background-color: #96BB7C;
  color: #FFFFFF;
  display: block;
  margin: auto;
  cursor: pointer;
}

.Rabop-font {
  font-size: 64px;
  color: #007E70;
  font-family: Roboto;
  text-align: center;
  margin-top: 60px;
  text-shadow: #000000;
}

.show-password-button {
  right: 10px;
  
  
  padding: 0;
  cursor: pointer;
  font-size: 20px;
} 

.four-font {
  text-align: center;
  margin-top: 40px;
  height: 90px;
}

.login-google{
  width: 589px;
  height: 86px;
  border-radius: 10px;
  background-color: #D8D8D8;
  border: 0px;
  display: block;
  margin: auto;
  font-size: 24px;
  padding-left: 25px;
}