@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');

div{
  font-family: 'Mitr', sans-serif;

}
div .empty h1{
  font-family: 'Mitr', sans-serif;

}
.container-login {
  display: flex;
  height: 100%;
}

.img-kaset {
  max-width: fit-content;
}

.logo {
  width: 75.25%;
}

.container-input {
  display: flex;
  flex-direction: column;
  width: 920px;
  position: relative;
  left: -45px;
}
.empty {
  height: 200px;
}

.input-all {
  height: 600px;
}

.input-User {
  width: 80%;
  height: 86px;
  border-radius: 10px;
  background-color: #D8D8D8;
  border: 0px;
  display: block;
  margin: auto;
  font-size: 24px;
  padding-left: 25px;
}

.first-font {
  font-size: 36px;
  text-align: center;
}

.sec-font{
  margin-left: 70px;
}

.three-font{
  margin-left: 70px;
  margin-top: 25px;
}



button.button-login{
  width: 362px;
  height: 74px;
  font-size: 28px;
  border: 0px;
  border-radius: 10px;
  background-color: #96BB7C;
  color: #FFFFFF;
  display: block;
  margin: auto;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition effect */

}
button.button-login:hover{
  background-color: #668154;
  color: #ffffff;
}

.Rabop-font {
  
  font-size: 64px;
  color: #007E70;
  font-family: Roboto;
  text-align: center;
  margin-top: 60px;
  text-shadow: #000000;
}


.show-password-button {
  right: 10px;
  
  
  padding: 0;
  cursor: pointer;
  font-size: 20px;
} 

.four-font {
  text-align: center;
  margin-top: 40px;
  height: 90px;
}

.login-google{
  padding-left:10px; 
  width: 80%;
  height: 86px;
  border-radius: 10px;
  background-color: #D8D8D8;
  border: 0px;
  display: flex;
  margin: auto;
  font-size: 24px;
  padding-left: 25px;
}

.outline-login-google {
  display: flex;
  margin: auto;
}