.App {
    width: 1920px;
    height: 1080px;
    
}

.choose-PeLhagSu {
    display:flex;
    text-align: center;
}

.PeLhagSu {
    width: 271px;
    height: 50px;
}

.importfile-LhagSu {
    display:flex;
}

.input-PeLhagSu {
    width: 520px;
    height: 50px;
}

.Browse-PeLhagSu {
    width: 162px;
    height: 55px;
}

.input-confirm {
    width: 300px;
    height: 50px;
}