p {
    font-size: 24px;
}

.choose-PeLhagSu {
    display:flex;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
}

.PeLhagSu {
    margin-left: 10px;
    width: 271px;
    height: 50px;
    border-radius: 10px;
    border-color: #dadada;
}

.importfile-LhagSu {
    display:flex;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
}

.input-PeLhagSu {
    width: 520px;
    height: 50px;
}

.Browse-PeLhagSu {
    width: 162px;
    height: 55px;
}

.input-confirm {
    width: 300px;
    height: 50px;
}

table.table.table-bordered.course tr{
    text-align: left;
}
.scrollwrapper {
    margin-left: auto;
    margin-right: auto;
    width:fit-content;
    max-height: 500px; /* Set a maximum height for the scrollable area */
    overflow-y: auto; /* Enable vertical scrollbar if needed */
    border: 2px solid #000;
    border-radius: 3px;
}

.mb-3 {
    margin-left: 10px;
}